.header-bottom-inner {
  .header-ct-right {
    display: none !important;
  }
}
.footer-menu{
  .menu-container {
    border: 0px !important;
  }
}

.header-ct-right{
  .sign-in{
    display: none !important;
  }
}
